@import url('https://fonts.font.im/css2?family=Noto+Sans+SC:wght@100..900&display=swap');
/* 
@font-face {
    font-family: 'SourceHanSansCN';
    font-weight: 200;
    font-display: swap;
    src: url("/fonts/SourceHan/SourceHanSansCN-ExtraLight.otf") format("opentype");
}
@font-face {
    font-family: 'SourceHanSansCN';
    font-weight: 300;
    font-display: swap;
    src: url("/fonts/SourceHan/SourceHanSansCN-Light.otf") format("opentype");
}

@font-face {
    font-family: 'SourceHanSansCN';
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/SourceHan/SourceHanSansCN-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'SourceHanSansCN';
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/SourceHan/SourceHanSansCN-Medium.otf") format("opentype");
}

@font-face {
    font-family: 'SourceHanSansCN';
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/SourceHan/SourceHanSansCN-Bold.otf") format("opentype");
} */